#catalogue{
	float:left;
	width:25%;
	height:100%;
	background-color: white;
}
#content{
	float:left;
	width:74%;
	height:100%;
	background-color: silver;
	margin-left:1%;
}

#table1 table{
	width:100%;

}

#table1 tr{
	width:100%;
	height:50px;
}

#table1 td{
	width:78px;
	height:70px;
	text-align: center;
	background-color:white;
}

.record {
	width:100%;
	height:40px;
	background-color:white;
	margin-top:4px;
	padding:0;
	cursor: pointer;
	overflow: hidden;
}

.recordstable td{
	height:24px;
}

.recordstable button{
	height:20px;
	font-size: 12px;
}


.record:hover{
	-webkit-box-shadow:0px 0px 20px #ff00ff ;	/*for chrome,safari*/
	box-shadow:0px 0px 20px #ff00ff;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:0px 0px 20px #ff00ff;
}

.content_hid{
	width:98%;
	height:98%;
	display: none;
}

#panel{
	width:100%;
	height:80px;
	display:none;
}

#panel .pstate{
	margin:5px;
	width:35%;
	height:90%;
	font-size:30px;
	text-align:center;
	float: left;
	background-color: white;
}

#panel .pstate p{
	font-size: 15px;
}

#panel .pstate h1{
	margin-top:10px;
	font-size: 25px;
}

#panel .pcontrol{
	width:60%;
	height:100%;
	text-align: center;
	float: left;

}

#panel .pcontrol table{
	width:100%;
	height:100%;
}

#panel .pcontrol tr{
	width:100%;
	height:50%;
}

#panel .pcontrol td{
	width:50%;
	height:100%;
	text-align: center;
}

#panel .pcontrol button{
	width:100px;
}

#replypanel{
	width:100%;
	height:110px;
	display: none;
	background-color: pink;
	text-align: left;
}


.hhhh{
	-webkit-box-shadow:0px 0px 20px #ff00ff ;	/*for chrome,safari*/
	box-shadow:0px 0px 20px #ff00ff;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:0px 0px 20px #ff00ff;
}

 .tdable:hover{
	transition: all 0.30s ease-in-out;
	-webkit-box-shadow:0px 0px 20px #ff00ff ;	/*for chrome,safari*/
	box-shadow:0px 0px 20px #ff00ff;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:0px 0px 20px #ff00ff;
}

.category{
	width:90%;
	height:30px;
	margin:0 auto;
	margin-top:15px;
	text-align: center;
	font-size: 21px;
	background-color: lightblue;
	cursor: pointer;
}

.category:hover{
	transition: all 0.30s ease-in-out;
	-webkit-box-shadow:0px 0px 20px #ff00ff ;	/*for chrome,safari*/
	box-shadow:0px 0px 20px #ff00ff;			/*for opero, IE9+  %% IE6不支持阴影*/
	-moz-box-shadow:0px 0px 20px #ff00ff;
}
